# Dependencies and build output
/node_modules
/infra/node_modules
/infra/cdk.out
/infra/.cdk.staging
/.pnp
.pnp.js
/.next/
/out/
/build/
/.npm-cache/

# Environment variables and secrets
.env*.local
*.pem
firmware/esp32-node/include/secrets.h

# OS/editor/runtime files
.DS_Store
npm-debug.log*
