// Copy this file to secrets.h. Do not commit secrets.h.
// Create one unique certificate/key pair for each ESP32 Thing in AWS IoT Core.
#pragma once

#define WIFI_SSID "replace-with-wifi-name"
#define WIFI_PASSWORD "replace-with-wifi-password"
#define AWS_IOT_ENDPOINT "xxxxxxxxxxxxx-ats.iot.ap-south-1.amazonaws.com"

static const char AWS_ROOT_CA[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
PASTE_AMAZON_ROOT_CA_1_HERE
-----END CERTIFICATE-----
)EOF";

static const char DEVICE_CERT[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
PASTE_THIS_DEVICE_CERTIFICATE_HERE
-----END CERTIFICATE-----
)EOF";

static const char DEVICE_PRIVATE_KEY[] PROGMEM = R"EOF(
-----BEGIN RSA PRIVATE KEY-----
PASTE_THIS_DEVICE_PRIVATE_KEY_HERE
-----END RSA PRIVATE KEY-----
)EOF";
